@{
    ViewData["Title"] = "Transfer";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Transfer successfull <a href="https://learn.microsoft.com/aspnet/core">Back To Home Page</a>.</p>
</div>